/* styles.css */

/* Style for the main container */

.app-container {
    background-color: #ebf1fc;
    max-width: none;
    display: flex;
}

.app-controls {
    background-color: #536aed;
    margin-top: 0px;
    padding: 0rem 2rem;
    flex-direction: column;

}

.app-graphs {
    background-color: #ebf1fc;
    padding: 2rem 2rem;
    min-height: calc(100vh - 5.5rem);
    margin-top: 0px;
    align-items: center;



/* Add more styles as needed */